@import "../../styles/mixins.scss";

@keyframes left {
  from {
    right: 1000px;
  }
  to {
    right: 1px;
  }
}

@keyframes toWhite {
  from {
    background-color: transparent;
  }
  to {
    background-color: white;
  }
}

@keyframes toBlack {
  from {
    background-color: transparent;
  }
  to {
    background-color: black;
  }
}

@keyframes right {
  from {
    left: 1000px;
  }
  to {
    left: 1px;
  }
}

@keyframes showup {
  from {
    top: 400px;
    font-size: 60px;
  }
  to {
    top: 1px;
    font-size: 40px;
  }
}

@keyframes courses {
  from {
    top: 1000px;
  }
  to {
    top: 530px;
  }
}

.education {
  height: 100vh;
  background-color: transparent;
  @include flex(center, start);
  position: relative;
  padding-top: 50px;
  overflow: hidden;
}

.education-content {
  @include flex(space-between, center);
  flex-direction: column;
  gap: 50px;
  position: relative;
}

.background {
  overflow: hidden;
  height: 65vh;
  width: 100%;
  //background-color: #4dd9e2;
  position: absolute;
  transform: skewY(-5deg);
  z-index: -2;
  top: -60px;
}

.education-title {
  position: absolute;
  @include flex(center, center);
  top: 400px;
  font-size: 60px;
}

.showUp {
  animation: showup 0.7s forwards 1s;
}

.animated-left {
  animation: left 1s forwards 1.5s;
  .rau-skew {
    animation: toWhite 2s forwards;
  }
}

.animated-right {
  animation: right 1s forwards 1.5s;
  .confucius-skew {
    animation: toBlack 2s forwards;
  }
}

.edu-items {
  margin-top: 200px;
  position: relative;
  font-size: 30px;
  @include flex(space-between, center);
  position: relative;
  height: 300px;
}

.rau,
.confucius {
  width: 500px;
  overflow: hidden;
  height: 300px;
}

.rau {
  position: absolute;
  border-left: 2px solid black;
  right: 1000px;
}

.confucius {
  position: absolute;
  border-right: 2px solid black;
  color: white;
  left: 1000px;
}

.rau-skew,
.confucius-skew,
.confucius-skew-back,
.confucius-text,
.rau-skew-back,
.rau-text {
  height: 100%;
}

.rau-skew {
  transform: skew(5deg);
  border: 2px solid black;
  margin-right: 15px;
  margin-left: -15px;
}

.rau-skew-back,
.confucius-skew-back {
  transform: skew(-5deg);
}

.confucius-skew {
  transform: skew(5deg);
  border: 2px solid black;
  margin-right: -15px;
  margin-left: 15px;
  background-color: transparent;
}

.rau-text,
.confucius-text {
  @include flex(space-between, center);
  flex-direction: column;
  gap: 25px;
  padding: 20px;
}

.courses {
  font-size: 30px;
  overflow: hidden;
  color: black;
  width: 1000px;
  border: 2px solid black;
  position: absolute;
  top: 1000px;
}

.courses-text {
  padding: 10px;
  @include flex(space-between, center);
  flex-direction: column;
  gap: 50px;
}

.platforms {
  @include flex(space-between, center);
  gap: 10px;
  font-size: 30px;
}

.logo {
}

.logo-container {
  @include flex(center, center);
  gap: 15px;
}

.platforms-skew-back {
  @include flex(space-around, center);
  width: 100%;
}

.platforms {
  width: 100%;
  @include flex(space-between, center);
}
