@import "../../styles/mixins.scss";

@keyframes left {
  from {
    right: 1000px;
  }
  to {
    right: 1px;
  }
}

@keyframes right {
  from {
    left: 1000px;
  }
  to {
    left: 1px;
  }
}

@keyframes closer {
  from {
    width: 500px;
    height: 300px;
  }
  to {
    width: 600px;
    height: 370px;
  }
}

@keyframes logo {
  from {
  }
}

.education {
  height: 100vh;
  background-color: transparent;
  @include flex(center, start);
  position: relative;
  padding-top: 50px;
  overflow: hidden;
}

.education-content {
  @include flex(space-between, center);
  flex-direction: column;
  gap: 50px;
}

.background {
  overflow: hidden;
  height: 65vh;
  width: 100%;
  //background-color: #4dd9e2;
  position: absolute;
  transform: skewY(-5deg);
  z-index: -2;
  top: -60px;
}

.education-title {
  @include flex(center, center);
}

.title {
  font-size: 40px;
}

.animated-left {
  animation-name: left;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.animated-right {
  animation-name: right;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.edu-items {
  position: relative;
  font-size: 30px;
  @include flex(space-between, center);
  position: relative;
  height: 300px;
}

.rau,
.confucius {
  width: 500px;
  overflow: hidden;
  height: 300px;
}

.rau {
  position: absolute;
  border-left: 2px solid black;
  right: 1000px;
}

.confucius {
  position: absolute;
  border-right: 2px solid black;
  color: white;
  left: 1000px;
}

.rau-skew,
.confucius-skew,
.confucius-skew-back,
.confucius-text,
.rau-skew-back,
.rau-text {
  height: 100%;
}

.rau-skew {
  transform: skew(5deg);
  border: 2px solid black;
  margin-right: 15px;
  margin-left: -15px;
}

.rau-skew-back,
.confucius-skew-back {
  transform: skew(-5deg);
}

.confucius-skew {
  transform: skew(5deg);
  border: 2px solid black;
  margin-right: -15px;
  margin-left: 15px;
  background-color: black;
}

.rau-text,
.confucius-text {
  @include flex(space-between, center);
  flex-direction: column;
  gap: 25px;
  padding: 20px;
}

.courses {
  font-size: 30px;
  overflow: hidden;
  color: black;
}

.courses-text {
  padding: 10px;
  @include flex(space-between, center);
  flex-direction: column;
  gap: 50px;
}

.platforms {
  @include flex(space-between, center);
  gap: 10px;
  font-size: 40px;
}

.logo {
  height: 40px;
}

.logo1-container {
  @include flex(center, center);
  gap: 15px;
}

.platforms-skew-back {
  @include flex(space-around, center);
  width: 100%;
}

.platforms {
  width: 100%;
}
