@import "../../styles/mixins.scss";
@import "../../styles/global.scss";

@keyframes photo-come {
  from {
    transform: translate(-600px, -200px);
  }
  to {
    transform: none;
  }
}

@keyframes greeting-come {
  from {
    transform: translate(50px, -600px);
  }
  to {
    transform: none;
  }
}

@keyframes download-come {
  from {
    transform: translate(300px, 800px);
  }
  to {
    transform: none;
  }
}

@keyframes more-come {
  from {
    transform: translate(800px, 0);
  }
  to {
    transform: none;
  }
}

@keyframes text-come {
  from {
    color: black;
  }
  to {
    color: white;
  }
}

.main {
  @include flex(center, center);
  height: 100vh;
  background: linear-gradient(135deg, black, black, white);
  background-repeat: no-repeat;
  background-attachment: contain;
}

.photo-section {
  @include flex(space-between, center);
  @include s {
    flex-direction: column;
  }
}

.photo-container,
.info-section-container {
  overflow: hidden;
  @include s {
    overflow: visible;
  }
}

.info-section-container {
  border-radius: 0 20px 0 0;
}

.photo-container {
  border-radius: 20px 0 0 0;
  transform: translate(-600px, -200px);
  animation: photo-come 1s forwards;
}

.photo-skew {
  transform: skew(-2deg);
  width: 266px;
  height: 472px;
  margin-left: -20px;
  margin-right: 8px;
  overflow: hidden;
}

.photo-skew-back {
  height: 100%;
  width: 100%;
  transform: skew(2deg);
  @include m {
    transform: none;
  }
}

.info-skew {
  overflow: hidden;
  transform: skew(-2deg);
  width: 574px;
  height: 472px;
  margin-left: 8px;
  margin-right: -20px;
}

.info-skew-back {
  transform: skew(2deg);
  height: 100%;
  @include flex(space-between, center);
  flex-direction: column;
}

.info-name {
  background-color: white;
  font-size: 32px;
  font-weight: 400;
  padding: 34px 100px;
  width: 600px;
  transform: translate(50px, -600px);
  animation: greeting-come 2s forwards;
}

.info-yuri {
  font-size: 40px;
  font-weight: 700;
}

.info-text {
  margin-right: 30px;
  width: 580px;
  background-color: black;
  color: black;
  font-size: 18px;
  padding: 31px 53px;
  line-height: 25px;
  animation: text-come 2s forwards;
}

.photo {
  height: 100%;
  width: 100%;
  margin-left: 20px;
}

.buttons {
  @include flex(space-between, center);
  width: 100%;
  margin-top: 10px;
}

.download-btn-container,
.more-btn-container {
  width: 50%;
  overflow: hidden;
}

.download-btn-container {
  transform: translate(300px, 800px);
  animation: download-come 1s forwards;
}

.more-btn-container {
  border-radius: 0 0 20px 0;
  transform: translate(800px, 0);
  animation: more-come 2s forwards;
}

.download-skew {
  transform: skew(10deg);
  background-color: #4dd9e2;
  padding: 22px 116px;
  margin-right: 5px;
  margin-left: -5px;
}

.download-skew:hover {
  opacity: 0.5;
}

.download-skew-back {
  font-size: 22px;
  transform: skew(-10deg);
}

.more-skew {
  transform: skew(10deg);
  background-color: #000;
  padding: 22px 116px;
  margin-right: -5px;
  margin-left: 5px;
  color: #fff;
}

.more-skew:hover {
  opacity: 0.5;
}

.more-skew-back {
  font-size: 22px;
  transform: skew(-10deg);
}
