@import "../../styles/mixins.scss";
@import "../../styles/global.scss";

.main {
  @include flex(center, center);
  margin-top: 120px;
}

.photo-section {
  @include flex(space-between, center);
}

.photo-container,
.info-section-container {
  overflow: hidden;
  //box-shadow: 6px 6px 10px black;
}

.info-section-container {
  border-radius: 0 20px 0 0;
}

.photo-container {
  border-radius: 20px 0 0 0;
}

.photo-skew {
  transform: skew(-5deg);
  width: 266px;
  height: 472px;
  margin-left: -20px;
  margin-right: 20px;
  overflow: hidden;
}

.photo-skew-back {
  height: 100%;
  width: 100%;
  transform: skew(5deg);
}

.info-skew {
  overflow: hidden;
  transform: skew(-5deg);
  width: 574px;
  height: 472px;
  margin-left: 20px;
  margin-right: -20px;
}

.info-skew-back {
  transform: skew(5deg);
  height: 100%;
  @include flex(space-between, center);
  flex-direction: column;
}

.info-name {
  background-color: white;
  font-size: 32px;
  font-weight: 400;
  padding: 34px 100px;
  width: 600px;
}

.info-yuri {
  font-size: 40px;
  font-weight: 700;
}

.info-text {
  margin-right: 30px;
  width: 580px;
  background-color: black;
  color: white;
  font-size: 18px;
  padding: 31px 53px;
  line-height: 25px;
}

.photo {
  height: 100%;
  width: 100%;
  margin-left: 20px;
}

.buttons {
  @include flex(space-between, center);
  width: 100%;
  margin-top: 10px;
}

.download-btn-container,
.more-btn-container {
  width: 50%;
  overflow: hidden;
}

.more-btn-container {
  border-radius: 0 0 20px 0;
}

.download-skew {
  transform: skew(10deg);
  background-color: #4dd9e2;
  padding: 22px 116px;
  margin-right: 5px;
  margin-left: -5px;
}

.download-skew-back {
  font-size: 22px;
  transform: skew(-10deg);
}

.more-skew {
  transform: skew(10deg);
  background-color: #000;
  padding: 22px 116px;
  margin-right: -5px;
  margin-left: 5px;
  color: #fff;
}

.more-skew-back {
  font-size: 22px;
  transform: skew(-10deg);
}
