@import "../../styles/mixins.scss";
@import "../education/styles.scss";

.working {
  height: 100vh;
  width: 100vw;
  background-color: white;
  @include flex(center, center);
}

.working-content {
  @include flex(space-between, center);
  flex-direction: column;
  position: relative;
}

.working-title {
  @include flex(center, center);
  width: 1200px;
  gap: 20px;
  font-size: 60px;
  img {
    width: 76px;
  }
  position: absolute;
}
